<div class="text-center">
    <button type="button" class="btn btn-primary" (click)="goHome()"> Home</button>
    <button type="button" class="btn btn-success ml-5" (click)="save()"> Save</button>
</div>
<section id="section-form">
    <div class="form-group">
        <label for="title" class="font-weight-bold">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" [(ngModel)]="bill.title">
    </div>

    <label class="d-block font-weight-bold">Months</label>
    <span class="d-block"><a [routerLink]=""
            (click)="selectAll()">{{allSelected ? "Select all" : "Unselect all"}}</a></span>
    <div class="form-check form-check-inline" *ngFor="let month of months;">
        <input class="form-check-input" type="checkbox" value="1" [id]="month.title" [(ngModel)]="month.checked">
        <label class="form-check-label" [for]="month.title">
            {{month.title}}
        </label>
    </div>

    <div class="form-group">
        <label for="title" class="font-weight-bold">Predicted (R$)</label>
        <input type="text" class="form-control" id="predicted" placeholder="Enter predicted"
            [(ngModel)]="bill.predicted">
    </div>
</section>