<h4>Dashboard</h4>
<button type="button" class="btn btn-info" (click)="goToDashboard()"> Graph</button>
<h4>Task</h4>
<button type="button" class="btn btn-info" (click)="goToTaskRegister()"> Register</button>
<button type="button" class="btn btn-info ml-5" (click)="goToTaskList()"> List</button>
<button type="button" class="btn btn-info ml-5" (click)="gotToTaskHistory()"> History</button>
<h4>Bill</h4>
<button type="button" class="btn btn-info" (click)="goToBillRegister()"> Register</button>
<button type="button" class="btn btn-info ml-5" (click)="goToBillList()"> List</button>
<button type="button" class="btn btn-info ml-5" (click)="gotToBillHistory()"> History</button>
<h4>Salary</h4>
<button type="button" class="btn btn-info" (click)="goToSalaryRegister()"> Register</button>
<button type="button" class="btn btn-info ml-5" (click)="goToSalaryList()"> List</button>
<h4>English</h4>
<button type="button" class="btn btn-info" (click)="goToEnglishDictionaryRegister()"> Register</button>
<button type="button" class="btn btn-info ml-5" (click)="goToEnglishDictionaryList()"> List</button>
<button type="button" class="btn btn-info ml-5" (click)="gotToEnglishDictionaryHistory()"> History</button>