.container{
    display: flex; 
    flex-flow: column wrap;
    flex-direction : row;
    justify-content: space-between;
    border: none;
}

.card{
    align-items: center;
    width: 100%;
    border: none;
}


.info{
    font-size: 60px;
}

.salary-info{
    color: green;
}

.expense-info {
    color: red;
}

@media screen and (min-width: 768px) {
    .container{
        flex-flow: row nowrap;
    }

    .card{
        width: 50%;
    }

    .card-salary{
        border-right: 1px solid black;
    }
}
