.container{
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-between;
    border: none;
}

.card{
    align-items: center;
    width: 50%;
    border: none;
}

.card-salary{
    border-right: 1px solid black;
}

.info{
    font-size: 60px;
}

.salary-info{
    color: green;
}

.expense-info {
    color: red;
}